@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100,700,900);
@keyframes tipsy {
    0 {
        transform: translateX(-50%) translateY(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) translateY(-50%) rotate(360deg);
    }
}

body {
    background-image: url('https://images.unsplash.com/photo-1496065187959-7f07b8353c55?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80'); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;           
}

h1,
p {
    margin: 0;
    padding: 0;
    font-family: 'Lato';
}

h1 {
    font-size: 2.5rem;
    padding: 10px 0;
    font-weight: 800;
}

p {
    font-size: 1.1em;
    font-weight: 100;
    letter-spacing: 5px;
}

.banner {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background: black;
    opacity: 0.1;
    
}

.showcase {
    display: flex;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
}

.location {
    margin: 0;
    padding: 0;
    left: auto;
    top: 35px;
    position: absolute;
    height: 200px;
    width: auto;
}

.text-title, .slug {
    font-family: 'Lato';
    color: #e5b758;
}

.text-title-open, .text-title-close {
    font-family: 'Lato';
    font-size: 25pt;
    top: 35px; 
    color: #e5b758;
}

.text-title {
    top: 80px;
    font-size: 36pt;
}

.slug {
    top: 5px;
    left: auto;
    position: relative;
} 